@page
@using ZealandZooLIB.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BulletPageModel
@{
}
<header>
    <link rel="stylesheet" href="~/css/BulletStyle.css">
</header>



    <div class="card-columns">


     @foreach (Bullet b in Model.Bullets)
        {
            <div class="card-body">
                
                    <h4 class="grid-title">@b.Title</h4>
                    <h5 class="card-body">@b.Content_Bullet</h5>


                
            </div>

        }
    </div>
