@page
@model ZealandZooAPP.Pages.Account.LoginModelModel
@{
}

<div class="contrainer border" style="padding:20px">
    <form method="post">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Proof.UserName"></label>
            </div>
            <div class="col-2">
                <input type="text" asp-for="Proof.UserName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Proof.Password"></label>

            </div>
            <div class="col-5">
                <input type="text" asp-for="Proof.Password" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                 <input type="submit" class="btn btn-outline-light" value="Login" />
            </div>
        </div>
    </form>
</div>
            
       
