body {
}


/*Primary contrast colours*/
/* Color Theme Swatches in Hex */
.Zoo-1-hex {
    color: #EB2366;
}

.Zoo-2-hex {
    color: #9E0C3D;
}

.Zoo-3-hex {
    color: #FF4080;
}

.Zoo-4-hex {
    color: #009E0F;
}

.Zoo-5-hex {
    color: #23EB36;
}

/* Color Theme Swatches in RGBA */
.Zoo-1-rgba {
    color: rgba(235, 35, 102, 1);
}

.Zoo-2-rgba {
    color: rgba(158, 12, 61, 1);
}

.Zoo-3-rgba {
    color: rgba(255, 64, 128, 1);
}

.Zoo-4-rgba {
    color: rgba(0, 158, 15, 1);
}

.Zoo-5-rgba {
    color: rgba(35, 235, 54, 1);
}

/*Reds*/
/* Color Theme Swatches in Hex */
.Zoo-6-hex {
    color: #EB8883;
}

.Zoo-7-hex {
    color: #AB6360;
}

.Zoo-8-hex {
    color: #6B3E3C;
}

.Zoo-9-hex {
    color: #F7908B;
}

.Zoo-10-hex {
    color: #D17A75;
}

/* Color Theme Swatches in RGBA */
.Zoo-6-rgba {
    color: rgba(235, 136, 131, 1);
}

.Zoo-7-rgba {
    color: rgba(171, 99, 96, 1);
}

.Zoo-8-rgba {
    color: rgba(107, 62, 60, 1);
}

.Zoo-9-rgba {
    color: rgba(247, 144, 139, 1);
}

.Zoo-10-rgba {
    color: rgba(209, 122, 117, 1);
}


/*Greens*/
/* Color Theme Swatches in Hex */
.Zoo-11-hex {
    color: #80A682;
}

.Zoo-12-hex {
    color: #C7F2CA;
}

.Zoo-13-hex {
    color: #75A777;
}

.Zoo-14-hex {
    color: #B7F0BF;
}

.Zoogreens-15-hex {
    color: #CBF0C0;
}

/* Color Theme Swatches in RGBA */
.Zoo-11-rgba {
    color: rgba(128, 166, 130, 1);
}

.Zoo-12-rgba {
    color: rgba(199, 242, 202, 1);
}

.Zoo-13-rgba {
    color: rgba(117, 167, 119, 1);
}

.Zoo-14-rgba {
    color: rgba(183, 240, 191, 1);
}

.Zoo-15-rgba {
    color: rgba(203, 240, 192, 1);
}

