body {
    background-size: cover;  
    margin: 0;
}


p {
    color: black;
    border-style: groove;
    border-color: blueviolet;
    border-width: 4px;
    border-radius: 6px;
}

h2 { 
    color: darkmagenta;
}

ul {
    border-style: groove;
    border-color: blueviolet;
    border-width: 2px;
    border-radius: 3px;
}
