body {
    background-image: url("../Images/forside_billed.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    background-color: rgba(242, 232, 223, 0.8);
}


p {
    border-color: blueviolet;
    border-radius: 5px;
    border-style: groove;
    color: green;
}

