.container1 {
    border: none;
    padding-bottom: 50px;
    padding-left: -250px;
    padding-right: -100px;
    padding-top: 50px;
    position: center;
    width: 500px;    
}

h2 {
    color: #79a0a1;
    font-size: 21px;
    letter-spacing: .2rem;
    padding-bottom: 15px;
    padding-top: 10px;
    text-transform: uppercase;
}