
.container1{
    position: center;
    width: 500px;
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: -250px;
    padding-right: -100px;
    border-radius: 25px;
    background-color: #80A682;
    
    

}

.btn1{

}

