html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.calendarbox {
    width: 14.28%;
    height: 120px;
}

.datebox {
    border: solid 1px #258cfb
}