+ ﻿body {
    /*font-size: .875rem;*/
    color: rgba(194, 30, 86, 0.7);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: rgb(255, 245, 238, 0.3);
}

h2 {
    color: #79a0a1;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-bottom: 15px;
    padding-top: 10px;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

#sidebarMenu {
    margin: 0px;
    background-color: #c6dbc033;
    background-image: linear-gradient(#e0bbb0ff, #fbf7eaff,#fbf7eaff )
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
    }

    .sidebar .nav-link.active {
        color: #2470dc;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
}


.custom-table {
    min-width: 500px;
}

    .custom-table thead tr, .custom-table thead th {
        /* padding-bottom: 30px;*/

        border-top: none;
        border-bottom: none !important;
        color: #79a0a1;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }

    .custom-table tbody th, .custom-table tbody td {
        color: #777;
        font-weight: 400;
        /*text-align: center;*/
        /*  padding-bottom: 20px;
    padding-top: 20px;*/
        font-weight: 300;
        border: none;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }



    .custom-table tbody tr {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

        .custom-table tbody tr:hover td:not(.excludeHov) {
            color: rgba(194, 30, 86, 0.7);
            opacity: 0.7;
            border-image-slice: 1;
        }

   

    .custom-table .td-box-wrap {
        padding: 0;
    }

    .custom-table .box {
        background: rgba(194, 30, 86, 0.7);
        border-radius: 4px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .custom-table .box td, .custom-table .box th {
            border: none !important;
        }



.myButton {
    border-radius: 2px;
    text-transform: lowercase;
    font-weight: 300;
    text-align: center;
    opacity: 0.7;
   
}

.btn-outline-info {
    color: #2694ddff;
    border-color: #2694ddff;
}

.buttonSide {
    background-color: transparent;
    border-color: #b47d70;
    color: #b47d70
    ;
    font-size: 15px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 3px;
    /*padding: 8px 20px;*/
    transition: .3s ease;
}

    .buttonSide:hover {
        color: #0a8375a1;
        border-color: #0a8375a1;
    }

.form-control {
    color: rgba( 128, 166, 130,0.7);
}


.form-control:focus {
    padding-bottom: inherit;
    font-weight: inherit;
    color: cadetblue;
    border-width: inherit;
    border-image: linear-gradient(to right, #dbb1a723,#c21e562a);
    /*opacity: 0.3;*/
    border-image-slice: 1;
    box-shadow: none;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

td.cell1 {
    width: 250px;
}

td.cell2 {
    width: 1px;
    
    text-align: center; /* Center align the contents horizontally */

}

td.antal {
    text-align:center;
}

th.antal{
    text-align:center;
}

.btn-outline-info:hover {
    color: #FFF;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    border-radius: 6px;
}

.btn-outline-danger:hover{
    border-radius: 6px;
}