+ ﻿body {
    color: rgba(194, 30, 86, 0.7);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}





h2 {
    font-size: 21px;
    text-transform: uppercase;
   
    letter-spacing: .2rem;
    padding-bottom: 15px;
    padding-top: 10px;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

#sidebarMenu {
    margin: 0px;
    background-color: transparent;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 48px 0 0; 
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; 
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
    }

    .sidebar .nav-link.active {
        color: #2470dc;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
}


.custom-table {
    min-width: 500px;
}

    .custom-table thead tr, .custom-table thead th {

        border-top: none;
        border-bottom: none !important;
        color: #79a0a1;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }

    .custom-table tbody th, .custom-table tbody td {
        color: #3c2a2a;
         
        font-weight: 600;
        border: none;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }



    .custom-table tbody tr {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

        .custom-table tbody tr:hover td:not(.excludeHov) {
            color: rgba(194, 30, 86, 0.7);
            opacity: 0.7;
            border-image-slice: 1;
        }

   

    .custom-table .td-box-wrap {
        padding: 0;
    }

    .custom-table .box {
        background: rgba(194, 30, 86, 0.7);
        border-radius: 4px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .custom-table .box td, .custom-table .box th {
            border: none !important;
        }



.myButton {
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    opacity: 0.9;
   
}

.btn-outline-info {
    color: #2694ddff;
    border-color: #2694ddff;
}

.buttonSide {
    background-color: transparent;
    border: solid #2a9d8f 2px;
    color: #2a9d8f;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 30px;
    transition: .3s ease;
}

    .buttonSide:hover {
        background-color: #2a9d8f;
        color: #FFF;
    }

    

.form-control {
    color: rgba( 128, 166, 130,0.7);
}


.form-control:focus {
    padding-bottom: inherit;
    font-weight: inherit;
    color: cadetblue;
    border-width: inherit;
    border-image: linear-gradient(to right, #dbb1a723,#c21e562a);
 
    border-image-slice: 1;
    box-shadow: none;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

td.cell1 {
    width: 250px;
}

td.cell2 {
    width: 1px;
    
    text-align: center;

}

td.antal {
    text-align:center;
}

th.antal{
    text-align:center;
}

.btn-outline-info:hover {
    color: #FFF;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    border-radius: 6px;
}

.btn-outline-danger:hover{
    border-radius: 6px;
}

option, select {
    background-color: #f9f6d9;
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: .2rem;
}

select#Item_Type {}

.selectHov {
    background-color: #fbf7ea;
    
}

.glassCard {
    backdrop-filter: blur(5px) saturate(105%);
    -webkit-backdrop-filter: blur(5px) saturate(105%);
    background-color: rgba(249,240,217, 0.1);
    border-radius: 12px;
    border: 3px solid rgba(209, 213, 219, 0.18);
    padding: 20px 10px;
}
