@page
@model GalleryModel
@{
}

<head>
    <link rel="stylesheet" href="css/gallery.css"/>
</head>

<form method="get">
    <button asp-page="CreateImage" class="btn btn-primary">Opload billede</button>
</form>

<div class="">
    <h3 class="mb-4">Summer Festival 2023</h3>
    <div class="d-flex align-content-center flex-wrap">
        <div class="text-center px-4 pt-2 image-container">
            <div style="background-color: red; height: 300px; padding-bottom: 20%; width: 300px;"></div>
        </div>
        <div class="text-center px-4 pt-2 image-container">
            <div style="background-color: red; height: 300px; padding-bottom: 20%; width: 300px;"></div>
        </div>
        <div class="text-center px-4 pt-2 image-container">
            <div style="background-color: red; height: 300px; padding-bottom: 20%; width: 300px;"></div>
        </div>
        <div class="text-center px-4 pt-2 image-container">
            <div style="background-color: red; height: 300px; padding-bottom: 20%; width: 300px;"></div>
        </div>
        <div class="text-center px-4 pt-2 image-container">
            <div style="background-color: red; height: 300px; padding-bottom: 20%; width: 300px;"></div>
        </div>
        <div class="text-center px-4 pt-2 image-container">
            <div style="background-color: red; height: 300px; padding-bottom: 20%; width: 300px;"></div>
        </div>
    </div>
</div>