@page
@using ZealandZooLIB.Models
@model GalleryModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@if (User.IsInRole("admin"))
{
    <form method="get">
        <button asp-page="CreateImage" class="btn buttonBlue">Opload billede</button>
    </form>
}

<section>
    
    <div class="d-flex justify-content-center flex-wrap">
        @foreach (ZooImage image in Model.Images)
        {
            if (image.Type.Equals(ImageType.Background) || image.Type.Equals(ImageType.Event))
            {
                <form method="post" asp-method="DeleteImage">
                    <div class="image-container px-4 pt-2">
                        <img class="image" src="~/images/@image.Name"/>
                        @if (User.IsInRole("admin"))
                        {
                            <button asp-page-handler="DeleteImage" name="id" value="@image.Id" 
                                    class="delete-image-btn buttonGallery" type="submit">Slet</button>
                        }
                    </div>
                </form>
            }
        }
    </div>
</section>

