@page
@using ZealandZooLIB.Models;


@model ZealandZooAPP.Pages.DashboardModel
@{
}

@if (User.IsInRole("admin"))
{

    <head>
        <link href="~/css/site.css" rel="stylesheet" />

        <style>
           
            
        </style>



    </head>

<div class="container-dashboard">
 
        
            <section class="dashboard-left">
               
                   <div class="row glass-container-left">
                            <form method="get">
                                <button asp-page="/StoragePage" class="buttonPush">Inventar</button>
                            </form>

                            <form method="get">
                                <button asp-page="/BulletPage" class="buttonPush">Opslag</button>
                            </form>

                            <form method="get">
                                 <button asp-page="/EventCRUD/EventPage" class="buttonPush">Events</button>
                            </form>

                <form method="get">
                    <button asp-page="/Calender" class="buttonPush">Kalender</button>
                </form>

                <form method="get">
                    <button asp-page="/Album" class="buttonPush">Galleri</button>
                </form>
               </div>
            </section>



           <section class="dashboard-main">

            <div style="display: flex; justify-content: center;">
                
                    <img src="https://svgshare.com/i/td3.svg" width="400" height="35"  style="margin-top:20px; margin-bottom:15px; margin-left: auto; margin-right: auto;" title="hurtigoprettelse" />
                
            </div>


       
              <div class="glass-container-menu">
                    
                       <form method="get">
                        <button asp-page="/StorageCRUD/CreateStorage" class="buttonHurtig">Vare</button>
                      </form>

                         <form method="get">
                            <button asp-page="/EventCRUD/CreateEvent" class="buttonHurtig">Event</button>
                        </form>

                       <form method="get">
                        <button asp-page="/BulletCRUD/CreateBullet" class="buttonHurtig">Opslag</button>
                      </form>
                      <form method="get">
                        <button asp-page="/ZooStudentCRUD/CreateZooStudent" class="buttonHurtig">Frivillig</button>
                      </form>

               </div>



            <div class="glass-container-bullet">

                        

                        @foreach (Bullet b in Model.Bullets)
                        {
                            <div class="dashBox">
                                <div class="calendar-event-title">@b.Title</div>
                               

                            </div>
                        }

                    

                    </div>        

                
            </section>
          


            

                
            <section class="dashboard-right">
            <div style="display: flex; justify-content: center;">
               
                    <img src="https://svgshare.com/i/tdj.svg" width="200" height="25" style="margin-top:25px; margin-bottom:20px; margin-left: auto; margin-right: auto;" />
                
            </div>


                 <div class="glass-container-right">
                   
                        @foreach (Event e in Model.Events)
                        {
                            <div class="dashBox">
                                <div class="calendar-event-title">@e.Name</div>
                                <div class="calendar-event-date">@e.DateFrom.ToString("MMMM dd, yyyy")</div>

                            </div>
                        }
                  </div>
            </section>
                
            
         

        
</div>




}







   
  
