@page
@using ZealandZooLIB.Models;


@model ZealandZooAPP.Pages.DashboardModel
@{
}

@if (User.IsInRole("admin"))
{

    <head>
        <link href="~/css/site.css" rel="stylesheet" />

        <style>
           
            
        </style>



    </head>


    <section class="holy-grail" style="margin-top: 30px;">
        <main class="holy-grail__main">
            <aside class="glass-container-left holy-grail__left">
               
                   
                            <form method="get">
                                <button asp-page="/StoragePage" class="btn-1">Lager</button>
                            </form>
                        

                       
                            <form method="get">
                                <button asp-page="/BulletPage" class="btn-1">Opslag</button>
                            </form>
                        

                            <form method="get">
                                <button class=btn-1 asp-page="/EventCRUD/EventPage">Event</button>
                            </form>
                       
               
            </aside>

            <article class="holy-grail_middle">
                <div class="glass-container-main">
                    <form method="get">
                        <button asp-page="/StoragePage/CreateStorage" class="btn-1">Opret Vare</button>
                    </form>



                    <form method="get">
                        <button asp-page="/BulletPage/CreateBullet" class="btn-1">Opret Bullet</button>
                    </form>


                    <form method="get">
                        <button class=btn-1 asp-page="/EventCRUD/CreateEvent">Opret Event</button>
                    </form>

                </div>
            </article>

            <nav class="holy-grail__right">

                
                    
                    <div class="glass-container">
                    <h2>Events</h2>
                        @foreach (Event e in Model.Events)
                        {
                            <div class="calendar-event-box">
                                <div class="calendar-event-title">@e.Name</div>
                                <div class="calendar-event-date">@e.DateFrom.ToString("MMMM dd, yyyy")</div>

                            </div>
                        }
                    </div>
                
            </nav>
        </main>
    </section>
        






































}







   
  
