@page
@using ZealandZooLIB.Models;


@model ZealandZooAPP.Pages.DashboardModel
@{
}

@if (User.IsInRole("admin"))
{

    <head>
        <link href="~/css/site.css" rel="stylesheet" />

        <style>
            .calendar-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding-right: 5px;
            }


            .calendar-event-box {
                width: 250px;
                padding: 10px;
                margin: 10px;
                backdrop-filter: blur(5px) saturate(119%);
                -webkit-backdrop-filter: blur(5x) saturate(119%);
                background-color: rgba(245, 115, 10, 0.15);
                border-radius: 20px;
                border: 4px solid rgba(245, 115, 10, 0.35);
                z-index: 1;
                outline: none;
                overflow: hidden;
                transition: color 0.4s ease-in-out;
            }
        </style>



    </head>


    <section class="holy-grail" style="margin-top: 30px;">
        <main class="holy-grail__main">
            <aside class="glass-container-left holy-grail__left">
               
                   
                            <form method="get">
                                <button asp-page="/StoragePage" class="btn-1">Lager</button>
                            </form>
                        

                       
                            <form method="get">
                                <button asp-page="/BulletPage" class="btn-1">Opslag</button>
                            </form>
                        

                            <form method="get">
                                <button class=btn-1 asp-page="/EventCRUD/EventPage">Event</button>
                            </form>
                       
               
            </aside>

            <article class="holy-grail_middle">
                <div class="glass-container-main">
                    <form method="get">
                        <button asp-page="/StoragePage/CreateStorage" class="btn-1">Opret Vare</button>
                    </form>



                    <form method="get">
                        <button asp-page="/BulletPage/CreateBullet" class="btn-1">Opret Bullet</button>
                    </form>


                    <form method="get">
                        <button class=btn-1 asp-page="/EventCRUD/CreateEvent">Opret Event</button>
                    </form>

                </div>
            </article>

            <nav class="holy-grail__right">

                
                    
                    <div class="glass-container">
                    <h2>Events</h2>
                        @foreach (Event e in Model.Events)
                        {
                            <div class="calendar-event-box">
                                <div class="calendar-event-title">@e.Name</div>
                                <div class="calendar-event-date">@e.DateFrom.ToString("MMMM dd, yyyy")</div>

                            </div>
                        }
                    </div>
                
            </nav>
        </main>
    </section>
        






































}







   
  
