@page
@using ZealandZooLIB.Models
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    
}



<body class="container">
    <section>
        <h2 class="text-center my-5">Bulletin Board</h2>

        <div class="row row-cols-2 g-2">
            <div class="col">

                <div class="card" style="width: 18rem;">


                 @foreach (Bullet b in Model.Bullets)
                 {
                        <div class="row">
                        <div class=" col">
                            <div class="card text-center">
                             <div class="card-body">
                
                                <h4 class="card-title">@b.Title</h4>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-hover-border-dark" data-bs-toggle="modal" data-bs-target="#bulletModal">
                                    Læs mere
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="bulletModal" tabindex="-1" aria-labelledby="bulletModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="bulletModalLabel">@b.Title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>@b.Content_Bullet</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                


                
                             </div>
                            </div>
                        </div> 
                        </div>
                 }
              </div>
            </div>
        </div>
        
        
    </section>
</body>