@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <link rel="stylesheet" href="css/FrontPage.css"/>
</head>

<body class="welcome-bg">
<a href="https://www.facebook.com/cafezealand">
    <p>Tjek os på Facebook!</p>
</a>
</body>