@page
@using ZealandZooLIB.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StoragePageModel
@{
}

@if (User.IsInRole("admin"))
{
    <h1>Varer i lageret</h1>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Type
            </th>
            <th>
                Pris
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (StorageItem s in Model.StorageItems)
        {
            <tr>
                <td>
                    @s.Name
                </td>
                <td>
                    @s.Item_Type
                </td>
                <td>
                    @s.Price
                </td>


            </tr>
        }
        </tbody>
    </table>

    <p></p>
    <p></p>


    <form method="get">
        <button asp-page="/StorageCRUD/CreateStorageItem" class="btn btn-primary">Opret Vare</button>
    </form>
}