@page
@model UnsubscribeNewsLetterModel
@{
}

<style>
    .center-div {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        text-align: center;
    }
</style>

<div class="center-div">
    <h1>Du er afmeldt Zoo's Nyhedsbrev.</h1>
    <br>
    <h3>Vi håber vi ses snart!</h3>
    <a class="event-link p-5" asp-page="/Index">Tilbage til forsiden</a>
</div>