@using ZealandZooLIB.Models;
@using ZealandZooLIB.Services;
@using ZealandZooAPP.Pages.BulletCRUD;
@model List<BaseModel>

<h1>_BulletPartial</h1>

<table class="table table-bordered">
    @foreach (Bullet b in Model)
    {
        <h1>@b.Title</h1>
        <h1>@b.Content_Bullet</h1>
    }
</table>

