@using ZealandZooLIB.Models;
@using ZealandZooLIB.Services;
@using ZealandZooAPP.Pages.BulletCRUD;
@model List<BaseModel>;



<div class="row-mb-2">


    @foreach (Bullet b in Model)
    {
        <div class="col-md-2">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-50">
                <div class="col p-4 d-flex flex-column position-atatic">
                    <strong class="d-inline-block mb-2 text-primary">@b.Title</strong>
                 
                    <p class="card-text mb-auto">@b.Content_Bullet</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
       
            </div>
        </div>
       
    }
</div>


