@page
@using Microsoft.IdentityModel.Tokens
@model ZealandZooAPP.Pages.EventCRUD.SignUpModel
@{
}

@if (Model.ErrorMessage.IsNullOrEmpty())
{
    <div class="container sign-up-box fw-bold">
        <div class="sign-up-text">
        <h1 class="text-success text-uppercase mt-5 fs-1">succes</h1>
        <h3 class="text-uppercase mt-5 fs-3">du har tilmeldt det kommende "@Model.ZooEvent.Name"</h3>
            <p class="mt-5 fs-2">Vi glæder os til at se dig</p>
        </div>
    </div>
}
else
{
    <div class="container sign-up-box fw-bold ">
        <h1 class="sign-up-text text-success text-uppercase fs-1">@Model.ErrorMessage</h1>
    </div>
}